body {
    background-image: url("../img/sam-balye-bryv8tyHVUQ-unsplash.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#log-btn{

    background: orangered;

}

#save-log{

    background: orangered;
    width: 60vw;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5px;
    border-radius: 5px;
}

#welcome-el{

    padding-top:2rem;
}